<div class="row">

    <div class="primary col-md-12 col-sm-12 col-xs-12">

        <section class="row section">
            <section class="about col-md-12 col-sm-12 col-xs-12" data-toggle="collapse" href="#problem4"
                     aria-controls="problem4">
                <div class="section-inner">

                    <h2 class="heading">Title</h2>
                    <ul class="list-unstyled">
                        <li class="item">
                                <span class="level">Difficulty
                                    <i class="fa selected fa-star"></i>
                                    <i class="fa selected fa-star"></i>
                                    <i class="fa selected fa-star"></i>
                                    <i class="fa unselected fa-star"></i>
                                    <i class="fa unselected fa-star"></i>
                                </span>
                        </li><!--//item-->
                        <li>
                            <span class="label label-warning">Java</span>
                        </li>
                    </ul>



                    <div class="content collapse" id="problem4">
                        <p>
                        <div class="card-subtext col-md-12 col-sm-12 col-xs-12">

                        </div>
                        </p>
                        <p>

                        <!--Insert html formatted java code here-->

                        </p>
                    </div>
                </div>
            </section>
        </section>
    </div>
</div>
